.password-generator {
    padding: 20px;
    max-width: 700px;

}

.password-generator h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.password-generator > p {
    margin-bottom: 24px;
    opacity: 0.7;

}

.password-output {
    display: flex;
    align-items: center;
    gap: 10px;

}

#passwordOutput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: monospace;
    font-size: 16px;
    background-color: #f9f9f9;

}

.password-output button {
    padding: 12px 17px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.password-options {
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.password-options label {
    display: flex;
    align-items: center;
    gap: 10px;

}

.password-options label:first-child {
  flex-direction: column;
  align-items: flex-start;
}

#passwordLength {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.password-options input[type="checkbox"] {
    width: 16px;
    height: 16px;

}

